body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;

}

h2 {
    text-align: center;
}

form {

    width: 300px;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    margin-bottom: 10px;
    font-weight: bold;
}

form input {

    width: 100%;
    padding: 8px;
    margin-bottom: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 30%;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}
.message-success {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

.message-error {
    background-color: #f44336;
    color: white;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}
